@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Oak";
    src: url("../public/fonts/oak-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Oak";
    src: url("../public/fonts/oak-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Plantin";
    src: url("../public/fonts/plantin-light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
